html, body {
  font-family: $global-font-family;
  font-weight: $global-font-weight;
  font-display: swap;
  font-size: $global-font-size;
  text-rendering: optimizeLegibility;

  line-height: $global-line-height;
  width:100%;
  
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;    
}

/* scrollbar, only support webkit */
::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color;

  &:hover {
    background-color: $scrollbar-hover-color;
  }
}

body {
  background-color: $global-background-color;
  color: $global-font-color;
  @include overflow-wrap(break-word);
  min-height: 100vh;

  scrollbar-color: auto;

  [data-theme=dark] & {
    background-color: $global-background-color-dark;
    color: $global-font-color-dark;
  }
}

a, a::before, a::after {
  color: $global-link-color;
  text-decoration: none;
  border-bottom: 2px solid $global-link-border;
  padding-left: 3px;
  padding-right: 3px;

  [data-theme=dark] & {
    color: $global-link-color-dark;
  }
}

a:hover {
  background-color: white;
  color: black;

  [data-theme=dark] & {
    color: white;
    background-color: $global-link-border;
  }
}

#content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.date {
  color: #bababa;
  font-size: .9em;
}

.articleTagsContainer {
  margin: 15px 0;

  a {
    color: #a9a9b3;
  }
}

.inline-icon {
  display: inline-block;
  position: relative;
  top: 0.4rem;
  fill: white;
  height: 1.35rem;
  width: 1.35rem;
  left: 0.25rem;
}

.line {
  border-top-width: 3px;
  border-top-style: dotted;
  border-top-color: black;
  margin-bottom: 5px;

  [data-theme=dark] & {
    border-color: rgb(172, 166, 166);
  }
}