html, body {
  font-family: $global-font-family;
  font-weight: $global-font-weight;
  font-display: swap;
  font-size: $global-font-size;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;

  line-height: $global-line-height;
  width:100%;
  
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

/* scrollbar, only support webkit */
::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color;

  &:hover {
    background-color: $scrollbar-hover-color;
  }
}

body {
  background-color: $global-background-color;
  color: $global-font-color;
  @include overflow-wrap(break-word);
  min-height: 100vh;

  scrollbar-color: auto;

  [data-theme=dark] & {
    background-color: $global-background-color-dark;
    color: $global-font-color-dark;
  }
}

svg {
  vertical-align: middle;
}

a, a::before, a::after {
  color: $global-link-color;
  text-decoration: none;
  border-bottom: 2px solid $global-link-border;
  padding-left: 3px;
  padding-right: 3px;

  [data-theme=dark] & {
    color: $global-link-color-dark;
    border-bottom: 2px solid $global-link-border-dark;
  }
}

a:hover {
  background-color: $global-link-border;
  color: white;

  [data-theme=dark] & {
    color: white;
    background-color: $global-link-border-dark;
  }
}

#content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-top: 0px;
}

code {
  font-size: 0.8em;
}

.photo {
    text-align: center;

    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 1px solid;
    }
  }

.cow {
  font-size:26px;
  font-family: monospace;
  line-height: 1;
  display: inline-block;
  white-space: pre-wrap;
  word-break: break-word;
  margin: 0 auto
}

.main-contacts {
  font-size:16px;
  font-family: monospace;
  line-height: 1;
  display: inline-block;
  white-space: pre-wrap;
  word-break: break-word;
  margin: 0 auto;
}

.main-idea {
  font-size:10px;
  font-family: monospace;
  line-height: 1;
  display: inline-block;
  white-space: pre-wrap;
  word-break: break-word;
  margin: 20px auto;
}

.list {
  .first {
    list-style-type: "⇒ ";
  }

  .second {
    list-style-type: "* ";
  }
}

.list .date {
  color: #5e5d57;
  font-size: .9em;

  [data-theme=dark] & {
    color: #bababa;
  }
}

.meta {
  background-color: #f0e6ad;
  opacity: 0.7;
  padding: 5px;
  fill: #222;

  [data-theme=dark] & {
    background-color: #242629;
    fill: #bababa;
  }

  .date {
    color: #222;
    font-size: .9em;
  
    [data-theme=dark] & {
      color: #bababa;
    }
  }
}

#TableOfContents {
  margin: 10px 2px 40px;
  opacity: 0.7;
  border: 1px dashed #dcdcdc;
  background-color: #fffef4;

  [data-theme=dark] & {
    border: 1px dashed #656363;

    background-color: #282828;
  }

   li {
    list-style-type: "⁃ ";
    line-height: 32px;
   }
}

.article-tags-container {
  margin: 15px 0;

  a {
    color: #5e5d57;

    &:hover {
      color: black;
    }
  }

  [data-theme=dark] & {
    a {
      color: #a9a9b3;

      &:hover {
        color: white;
      }
    }
  }
}

.tag-multiple-icon {
  fill: black;

  [data-theme=dark] & {
    fill: white;
  }
}

.inline-icon {
  display: inline-block;
  position: relative;
  // fill: silver;
  height: 1.35rem;
  width: 1.35rem;
}

.post-line {
  border-top-width: 3px;
  border-top-style: dotted;
  border-top-color: black;
  margin-bottom: 5px;

  [data-theme=dark] & {
    border-color: rgb(172, 166, 166);
  }
}

.back-to-top {
  box-sizing: border-box;
  position: fixed;
  bottom: -100px;
  right: 24px;
  z-index: 1050;
  padding: 0 6px;
  width: initial;
  background: #222;
  font-size: 16px;
  opacity: 0.6;
  color: #fff;
  cursor: pointer;
  text-align: center;
  // -webkit-transform: translateZ(0);
  transition-property: bottom;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;

  .back-to-top-on {
    bottom: 30px;
  }
}

// .card-content {
//   h2 {
//     border-color: rgb(253, 109, 207);
//     border-width: 4px;
//     border-left-style: solid;
//     padding-left: 10px;
//     padding-top: 0.5rem;
//     padding-bottom: 0.5rem;
//   }
// }

.social-icons {
  text-align: center;

  .social-icons-list {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
    text-align: center;

    .social-icon {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 6px;
      // fill: white;

      svg {
        height: 28px;
        width: 28px;
      }

      a {
        border: none;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

@media screen and ($tablet) {
  .main-contacts {
    font-size:14px;
    font-family: monospace;
    line-height: 1.5;
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-word;
    margin: 0 auto;
  }

  .main-idea {
    font-size:8px;
    font-family: monospace;
    line-height: 1;
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-word;
    margin: 20px auto;
  }
}

@media screen and ($phone) {
  .back-to-top {
    right: 8px;
  }

  .photo {
    text-align: center;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 1px solid;
    }
  }

  .cow {
    font-size:20px;
    font-family: monospace;
    line-height: 1;
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-word;
    margin: 0 auto
  }

  .main-contacts {
    font-size:9px;
    font-family: monospace;
    line-height: 1;
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-word;
    margin: 0 auto;
  }

  .main-idea {
    font-size:5px;
    font-family: monospace;
    line-height: 1;
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-word;
    margin: 20px auto;
  }
}