{{ define "content" }}
  <h2>
    {{ $title := .Title }}
    {{ $section := .Section | humanize }}

    {{ if and (ne $section $title) (ne $section "Tags") (ne $title (printf "%ss" $section)) }}
      {{ $section }}:
    {{ end }}

    {{ if and (eq $section "Tags") (eq $section $title) }}
      {{ i18n "tagsColumn" }}
    {{ else }}
      {{ if and (eq $section "Tags") (ne $section $title) }}{{ i18n "tagColumn" }} #{{ end }}{{ $title }}
    {{ end }}
  </h2>
  <ul class="list">
    {{ if and (eq $section "Tags") (eq $section $title) }}
      {{ range (sort .Pages "Title") }}
        <li>
          <a href="{{ .Permalink }}">#{{ .Title }}</a>
        </li>
      {{ end }}
    {{ else }}
      {{ range .Pages }}
        <li>
          <span class="date">
            [{{- partial "date.html" .Date -}}]
          </span>
          <span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </span>
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}