.meta {
  background-color: #f0e6ad;
  opacity: 0.7;
  padding: 5px;
  fill: #222;

  [data-theme=dark] & {
    background-color: #242629;
    fill: #bababa;
  }

  .date {
    color: #222;
    font-size: .9em;

    [data-theme=dark] & {
      color: #bababa;
    }
  }
}

#TableOfContents {
  margin: 10px 2px 40px;
  opacity: 0.7;
  border: 1px dashed #dcdcdc;
  background-color: #fffef4;

  [data-theme=dark] & {
    border: 1px dashed #656363;

    background-color: #282828;
  }

   li {
    list-style-type: "âƒ ";
    line-height: 32px;
   }
}
.content .highlight .line {
  padding-left: 8px;
}

.content h3 {
  color: #d63864;

  [data-theme=dark] & {
    color: #22c55e;
  }
}

.content h2 {
  padding-top: 15px;
}

.content p {
  line-height: 1.8;
}

.content .chroma .err {
  background-color: transparent;
}

.content .highlight pre {
  max-height: 400px;
  overflow-y: auto;
}

.content table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  font-variant: tabular-nums;
}

.content thead {
  display: table-header-group;
  vertical-align: middle;

  tr {
    background-color: #fffef4;
    border-top: 1px solid rgba(209, 217, 224, 0.7);

    [data-theme=dark] & {
      background-color: #282828;
      border: 1px solid #656363;
    }

    th {
      padding: 6px 13px;
      border: 1px solid rgb(209, 217, 224);

      [data-theme=dark] & {
        background-color: #282828;
      }
    }
  }
}

.content tbody {
  tr {
    background-color: #fffef4;
    border-top: 1px solid rgba(209, 217, 224, 0.7);

    [data-theme=dark] & {
      background-color: #282828;
      border: 1px solid #656363;
    }

    td {
      padding: 6px 13px;
      border: 1px solid rgb(209, 217, 224);

      [data-theme=dark] & {
        background-color: #282828;
      }
    }
  }
}

.content > p > code, .content > ol > code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(129, 139, 152, 0.12);
  border-radius: 6px;

  [data-theme=dark] & {
    background-color: #c7c4bc;
    color: black;
  }
}

.content ul:not(.expirience) li {
  line-height: 1.8;
}

.article-tags-container {
  margin: 15px 0;

  a {
    color: #5e5d57;

    &:hover {
      color: white;
    }
  }

  [data-theme=dark] & {
    a {
      color: #a9a9b3;

      &:hover {
        color: white;
      }
    }
  }
}

.tag-multiple-icon {
  fill: black;

  [data-theme=dark] & {
    fill: white;
  }
}

.post-line {
  border-top-width: 3px;
  border-top-style: dotted;
  border-top-color: black;
  margin-bottom: 5px;

  [data-theme=dark] & {
    border-color: rgb(172, 166, 166);
  }
}

[data-theme=dark] {
  .post-image-light {
    display: none;
  }

  .post-image-dark {
    img {
      height: 400px;

      @media screen and ($phone) {
        height: 150px;
      }
    }

    margin: 0px;
  }
}

[data-theme=light] {
  .post-image-dark {
    display: none;
  }

  .post-image-light {
    img {
      height: 400px;

      @media screen and ($phone) {
        height: 150px;
      }
    }

    margin: 0px;
  }
}

.book-preview {
  text-align: center;

  img {
    height: 400px;
  }
}