.resume-skills {
  .hdr {
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.17em;
    width: 200px;
  }

  display: flex;
  flex-direction: row;
  padding: 0 10px;
  margin-bottom: 15px;
}

.university-icon, .work-icon, .school-icon, .certificate-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: -13px;
  top: -3px;
}

.exp-title {
  background-color: #f0e6ad;
  opacity: 0.7;
  width: fit-content;
  padding: 5px;
  margin-bottom: 0px;
  position: relative;
  top: -7px;

  &::before {
    content: '';
    background-color: black;
    position: absolute;
    width: 23px;
    height: 2px;
    left: -23px;
    top: 16px;
  }

  [data-theme=dark] & {
    opacity: 0.6;
    background-color: #222;

    &::before {
      background-color: white;
    }
  }
}

.resume-header {
    font-size:8px;
    font-family: monospace;
    line-height: 1;
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-word;
    margin-top: 12px;
}

.expirience {
  list-style: none;
  padding-left: 25px;
  margin-top: 22px;

  > li {
    border-left: 2px solid black;
    padding-left: 40px;
    position: relative;
    padding-bottom: 20px;

    &::before {
      color: black;
      content: '';
      position: absolute;
      background-color: white;
      top: -9px;
      left: -20px;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 2px solid;
    }

    &::after {
      background-color: black;
      content: '';
      width: 2px;
      height: 40px;
      position: absolute;
      display: block;
      left: -2px;
    }

    &:last-of-type::after {
      height: 0px;
    }

    [data-theme=dark] & {
      border-left: 2px solid white;

      &::before {
        color: white;
        background-color: #242629;
      }

      &::after {
        background-color: white;
      }
    }
  }
}

.intro {
  line-height: 32px;
}

.achive {
  margin-top: 5px;
  list-style: circle;
  line-height: 32px;
}

.tech-stack {
  font-weight: bold;
  margin-right: 10px;

  color: rgb(173, 101, 101);

  [data-theme=dark] & {
    color: yellow;
  }
}

.exp-sub {
  font-size: 14px;
}

.bar {
  border: 2px solid #262525;
  min-height: 1.3em;
  display: flex;
  border-radius: 50rem !important;

  [data-theme=dark] & {
    border: 2px solid #eaeaea;
  }
}

.pill {
  box-sizing: border-box;
  height: 0.8em;
  max-width: 100%;
  margin: 4px;
  background-color: #262525;
  -webkit-print-color-adjust: exact;
  animation-name: animateBar;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 150ms;
  border-radius: 50rem !important;

  [data-theme=dark] & {
    background-color: #eaeaea;
  }
}

@media screen and ($phone) {
  .resume-header {
    font-size:6px;
  }

  .resume-skills {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-bottom: 15px;
  }
}