<header class="header">
  <div class="header-inner">
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
    <nav class="header-links">
      <ul>
        {{ range .Site.Menus.header }}
          <li>
            <a href="{{ .URL | absURL }}" title="{{ .Title }}" >
              ~/{{- .Name -}}
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
    <div class="right-header">
      <div class="theme-toggle">
        {{ partial "svg" "sun" }}
        {{ partial "svg" "moon" }}
      </div>
      <div id="clock"></div>
    </div>
  </div>
</header>
{{ $path := .Path }}
{{ if .Params.showHeader | default true }}
  <div class="logo">
    <a href="{{ .Site.BaseURL }}"><img src="/logo.png"></a>
  </div>
  <section class="social-icons">
    <ul class="social-icons-list">
      {{ range .Site.Params.SocialIcons }}
      <li class="social-icon">
        <a target="_blank" href="{{ .url }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>
          <i class="inline-icon">
            {{ partial "svg" .name }}
          </i>
        </a>
      </li>
      {{ end }}
    </ul>
  </section>
{{ end }}