{{ if .Params.showTitle | default true }}
    <h1 class="title">{{ .Title }}</h1>
{{ end }}

{{ if .Params.showMeta | default true }}
  <div class="meta">
    {{ if (.Params.showDate | default true) }}
      <span class="date">
        <i class="inline-icon">
          {{ partial "svg" "calendar-range" }}
        </i>
        {{- partial "date.html" .PublishDate -}}
      </span>
      &nbsp;
    {{ end }}

    {{ if (.Params.showWordCount | default true) }}
      <span class="date">
        <i class="inline-icon">
          {{ partial "svg" "edit" }}
        </i>
        {{ $.WordCount }}
      </span>
      &nbsp;
    {{ end }}

    {{ if (.Params.showReadingTime | default true) }}
      <span class="date">
        <i class="inline-icon">
          {{ partial "svg" "time" }}
        </i>
        {{ $.ReadingTime }}
      </span>
    {{ end }}
  </div>
{{ end }}

{{ if .Params.showTableOfContents | default false }}
<aside>
  {{ .TableOfContents }}
</aside>
{{ end }}

<div class="{{ .Params.class }} content">{{ .Content }}</div>

{{ if .Params.tags }}
  <div class="post-line"></div>
  <p class="article-tags-container">
    <i class="inline-icon">
      {{ partial "svg" "tag-multiple" }}
    </i>
    {{ range sort .Params.tags }}
      <a href="/tags/{{ . | urlize }}">#{{ . }}</a>
    {{ end }}
  </p>
{{ end }}